#root {
  margin: 0;
  background-color: rgb(212, 212, 212);
}

.App {
  margin: 0 auto;
}

.navbar {
  display: flex;
  background-color: rgb(121, 139, 156);
  margin: 0;
  height: 120px;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  margin-bottom: 70px;
}

.navbar h1 {
  margin: 0;
  display: block;
}

.selectionTile {
  display: block;
  width: 500px;
  margin: 30px auto;
}

.tileImage {
  width: 90%;
}

.gameImage {
  width: 100%;
  /* 
  position: relative;
  left: 50%;
  margin-left: -45vw;
  z-index: 0; */
}

.LoginPopup {
  position: fixed;
  background-color: blueviolet;
  left: 50%;
  z-index: 5;
  text-align: center;
}

.charImg {
  height: 100px;
  border-radius: 20%;
}

.charCircle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110px;
  width: 110px;
  background-color: white;
  border-radius: 50%;
}

.found {
  filter: blur(5px);
}

.loginFormButtons {
  width: 100%;
  margin-top: 5px;

}