#root {
  background-color: #99d4d3;
  color: white;
  padding-bottom: 30px;
}

.App {
  margin: 0 auto;
}

.navbar {
  margin: 0;
  height: 180px;
  line-height: 180px;
  text-align: center;
  margin: 0 auto;
}

.navbar h1 {
  margin: 0;
  display: block;
}

.selectionTile {
  display: block;
  margin: 30px 100px;
  padding: 0 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #f9e45b;
  border-radius: 10px;
  margin-bottom: 50px;
  cursor: pointer;
}

.selectionTile:hover {
  filter: brightness(0.9);
}

.tileImage {
  width: 90%;
  border-radius: 5px;
}

.gameImage {
  width: 100%;
}

.LoginPopup {
  position: fixed;
  font-weight: 800;
  font-size: 20px;
  left: 50%;
  margin-left: -220px;
  background-color: #f9e45b;
  z-index: 5;
  text-align: center;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.8);
  border:solid 5px #113157;
  color: #2769b9;
  border-radius: 10px;
  padding: 15px;
}

.loginForm > form > input {
  font-size: 20px;
  margin-left: 7px;
}

.charImg {
  height: 100px;
  border-radius: 20%;
}

.charCircle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110px;
  width: 110px;
  background-color: white;
  border-radius: 50%;
}

.found {
  filter: blur(5px);
  transition: filter 1s;
}

.loginFormButtons {
  width: 100%;
  margin-top: 5px;
}

.characterButton {
  background-color: white;
  border-radius: 50%;
  margin: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.characterButton:hover {
  filter: brightness(0.8);
}

.isCharacterButton {
  height: 40px;
}

.isCharacterCircle {
  height: 50px;
  width: 50px;
}

.charactersToFind {
  display: inline-flex;
  background-color: white;
  justify-content: center;
  min-width: fit-content;
  margin: 15px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.selectionTileTitle {
  color: #1b4d89;
  font-size: 30px;
}


h1 {
  display: block;
  font-size: 70px;
  margin-top: 50px;
}

.characterFoundIndicator {
  position: relative;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.characterFoundIndicator > div {
  margin: 20px;
  border: 5px solid #1b4d89;
}
.buttonGeneral {
  margin: 20px;
  margin-top: 30px;
  display:inline-block;
  padding:0.7em 1.7em;
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  background-color:#2769b9;
  text-align:center;
  transition: all 0.2s;
  border: none;
}
  .buttonGeneral:hover{
  background-color:#113157;
  }

.scoreBoardLine {
  color:#1b4d89;
  font-size: 15px;
  border-top: solid 1px #dac74e;
  margin: 0 10%;
  padding: 10px 0;
}

.hallOfFame {
  font-size: 30px;
  color:#1b4d89;
  border-top: solid 1px #99d4d3;
  padding-top: 25px;
  margin-top: 20px;
}

.timer {
  color: #f9e45b;
  font-size: 50px;
  font-weight: 900;
  text-align: center;
}

.backButtonDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.backButtonDiv > button {
  font-size: 20px;
}

.buttonGeneral.loginFormButtons {
  margin: 20px 0 0 0;
  border-radius: 5px;

}