#root {
  margin: 0;
  background-color: rgb(212, 212, 212);
}

.App {
  text-align: center;
}

.navbar {
  display: flex;
  background-color: rgb(121, 139, 156);
  margin: 0;
  height: 120px;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  margin-bottom: 70px;
}

.navbar h1 {
  margin: 0;
  display: block;
}

.selectionTile {
  width: 500px;
}

.tileImage {
  width: 500px;
}